## 数据结构

#### 元组

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])
tup = tuple('string')
tup

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [7]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [8]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [9]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### 元组解析

In [10]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [11]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [13]:
tmp = a
a = b
b = tmp

In [14]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

2

2

1

In [15]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [16]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

(1, 2)

[3, 4, 5]

In [17]:
a, b, *_ = values

#### 元组方法

In [18]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### 列表

In [19]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [20]:
gen = range(10)
gen
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 添加删除元素

In [21]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [22]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [23]:
b_list.pop(2)
b_list

'peekaboo'

['foo', 'red', 'baz', 'dwarf']

In [24]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

['red', 'baz', 'dwarf', 'foo']

In [25]:
'dwarf' in b_list

True

In [26]:
'dwarf' not in b_list

False

#### 连接组合列表

In [27]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [28]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### 排序

In [29]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [30]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### 切片

In [31]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [32]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [33]:
seq[:5]
seq[3:]

[7, 2, 3, 6, 3]

[6, 3, 5, 6, 0, 1]

In [34]:
seq[-4:]
seq[-6:-2]

[5, 6, 0, 1]

[6, 3, 5, 6]

In [35]:
seq[::2]

[7, 3, 3, 6, 1]

In [36]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### enumerate

In [38]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted

In [39]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[0, 1, 2, 2, 3, 6, 7]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [40]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [41]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [42]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [43]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Nolan', 'Roger', 'Schilling')

('Ryan', 'Clemens', 'Curt')

#### reversed

In [44]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 字典

In [45]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [46]:
d1[7] = 'an integer'
d1
d1['b']

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [47]:
'b' in d1

True

In [48]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

'another value'

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [49]:
list(d1.keys())
list(d1.values())

['a', 'b', 7]

['some value', [1, 2, 3, 4], 'an integer']

In [50]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [51]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### 集合 Set

In [52]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

{1, 2, 3}

In [53]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

### List, Set, and Dict Comprehensions

In [55]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [56]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [57]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [58]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

## 函数

In [59]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [60]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

0.06363636363636363

35.49

45.0

### Namespaces, Scope, and Local Functions

### 多值返回

In [62]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

### 函数即对象

In [63]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [64]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [65]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [66]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [67]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [68]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### 匿名（Lambda）函数

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [69]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [70]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

#### 生成器

In [71]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [72]:
dict_iterator = iter(some_dict)
dict_iterator

In [73]:
list(dict_iterator)

['a', 'b', 'c']

In [74]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [75]:
gen = squares()
gen

In [76]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

### Generator expresssions

In [77]:
gen = (x ** 2 for x in range(100))
gen

In [78]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

328350

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [79]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam',  'Wes', 'Will', 'Albert','Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

#### 异常处理

In [80]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

NameError: name 'path' is not defined